.cache_ggshield
.claude
.DS_Store
.terraform
cluster-info.json
crypto
hosts.json
proxmox-lab-root-ca.crt
terraform/lxc-step-ca/step-ca/
terraform/vm-kasm/rendered/
terraform/vm-nomad/rendered/
**/.config
**/archive
**/dev
**/packer-outputs
**/*.bak.*
**/*.crt
**/*.lock.hcl
**/*.log
**/*.pkrvars.hcl
**/*.tfvars
**/*.tfstate*
