# Proxmox configuration
proxmox_url = "https://IP.ADD.RE.SS:8006/api2/json"
proxmox_node = "pve"
proxmox_token_id = "ACCESSTOKENID"
proxmox_token_secret = "ACCESSTOKENSECRET"

# Template admin Passwords
root_password = "changeme123"
ssh_username = "labadmin"
ssh_password = "changeme123"
# SSH keys for VM/container administration (labadmin key)
ssh_private_key_file = "/crypto/labadmin"  # DO NOT CHANGE

# DNS config
dns_postfix = "mylab.lan"

# Storage for Packer templates
# For multi-node clusters, use shared storage (nfs, ceph, etc.)
# For single-node, "local" or "local-lvm" is fine
template_storage = "local"
template_storage_type = "lvm"  # Options: nfs, rbd, lvm, cephfs, dir